<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>IMDB Scraper</title>
</head>

<body>
    <div class="scraper">
        Welcome to the IMDB review sentiment analysis
    </div>
    <div class="scraper_form">
        <form action="http://127.0.0.1:8000/scrap_review" method="POST">
            <input type="text" name="movie">
            <input type="submit" value="Scrap Reviews">
        </form>
    </div>
</body>

</html>